.productPage{
    &__content{
    }
    &__info{
        display: flex;
        flex-direction: row;
        margin: 30px 0;
    }
    &__filters{
        flex: 0 1 20%;
    }
    &__items{
        flex: 0 1 75%;
        margin-left: 20px;
    }
}

.product{
    .createList{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }
    &__item{
        flex: 0 1 33.333%;
    }
}