.filterPrice {
    margin: 10px 0;

    &__title {
        font-size: 18px;
        font-weight: bold;
        margin-bottom: 10px;
        margin-top: 20px;
    }

    &__range {
        font-size: 14px;

        .values {
            display: flex;
            justify-content: space-between;
        }

        input {
            height: 40px;
            min-width: 90%;
            border: 1px solid gray;
            border-radius: 20px;
            padding-left: 10px;
            font-size: 16px;
        }

    }
}